.App {
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.left {
  display: grid;
  grid-template-rows: auto auto; 
}

.right {
  display: grid;
  grid-template-rows: auto auto; 
}

header {
  height: 50px;
  color: #a0aabf;
  padding: 0;
}

.content {
  overflow: auto;
  height: calc(100vh - 70px);
}

.left header {
  border: 1px solid #e8e8e8; 
  padding: 0;
}

.right header {
  border-top: 1px solid #e8e8e8;
  border-right: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  padding: 0;
}

textarea {
  border: none;
}

#editor {
  border: 1px solid #e8e8e8;
  padding: 0;
}

#preview {
  border-right: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  border-top: 1px solid #e8e8e8;
  padding: 0;
}