.App {
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.left {
  display: grid;
  grid-template-rows: auto auto; 
  border: 1px solid #e8e8e8;
}

.right {
  display: grid;
  grid-template-rows: auto auto; 
  border: 1px solid #e8e8e8;
}

.header {
  height: 50px;
  color: #a0aabf;
  padding: 0;

  line-height: 50px;
}

.content {
  overflow: auto;
  height: calc(100vh - 70px);
}


.left .header {

}

.right .header {   

}

textarea {
  border: none;
}

#editor {
  padding: 0;
  border-top: 1px solid #e8e8e8;
}

#preview {
  padding: 0;
  border-top: 1px solid #e8e8e8;
}