.App {
  font-size: calc(10px + 2vmin);
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 10px;
  background: white;
}


.left {
  display: grid;
  grid-template-rows: auto auto; 
  border: 1px solid #e8e8e8;
}

.right {
  display: grid;
  grid-template-rows: auto auto; 
  border: 1px solid #e8e8e8;
}

.header {
  height: 50px;
  color: #a0aabf;
  line-height: 50px;
  padding-left: 10px;
}

.content {
  overflow: auto;
  height: calc(100vh - 90px);
}

textarea {
  border: none;
  padding: 0;
}

#editor {
  padding-left: 10px;
  padding-top: 10px;
  border-top: 1px solid #e8e8e8;
}

#preview {
  padding-left: 10px;
  padding-top: 10px;
  border-top: 1px solid #e8e8e8;
}

code {
  background: lightgrey;
}

pre code {
  display: block;
  background: lightgrey;
  margin-right: 10px;
}